@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster Two", cursive;
}

section {
  padding: 0 16px;
}

header,
section:last-of-type {
  padding: 16px;
}

header {
  padding: 18px 0;
}

header * {
  text-align: center;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 24px;
}

section {
  padding: 24px 16px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.subsection {
  margin-bottom: 16px;
}

.subsection h3,
.pricing h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.subsection ul {
  padding: 0 4px;
}

.subsection li {
  font-size: 16px;
  margin-bottom: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pink {
  background-color: #f9ceee;
}

.yellow {
  background-color: #ffebaf;
}

.blue {
  background-color: #c1f0fb;
}

.green {
  background-color: #dcf9a8;
}

.lilac {
  background-color: #e0cdff;
}
